{% extends 'base.html' %}

{% block title %}
{{project_details.name}} - Tracker
{% endblock title %}

{% block main %}
<div>
    <h1>{{project_details.name}}</h1>
    <p>
        {{project_details.description}}
    </p>
    <h2>Tasks</h2>
    <p>
        <a href="{% url 'create_task' %}">Create a new task</a>
    </p>
    {% if project_details.tasks.count > 0 %}
    <table>
        <thead>
            <th>Name</th>
            <th>Assignee</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
        </thead>
        <tbody>
            {% for task_detail in project_details.tasks.all %}
            <tr>
                <td>{{task_detail.name}}</td>
                <td>{{task_detail.assignee}}</td>
                <td>{{task_detail.start_date}}</td>
                <td>{{task_detail.due_date}}</td>
                <td>{{task_detail.is_completed|yesno}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>This project has no tasks</p>
    {% endif %}
</div>
{% endblock main %}
