{% extends 'base.html' %}

{% block title %}
Projects List
{% endblock title %}

{% block main %}
<div>
    <h1>My Projects</h1>
    <div>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
    </div>
    {% if projects|length == 0 %}
    <p>You are not assigned to any projects</p>
    {% else %}
    <table>
        <thead>
            <th>Name</th>
            <th>Number of tasks</th>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>
                    <a href="{% url 'show_project' project.id %}">{{project.name}}</a>
                </td>
                <td>{{ project.tasks.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock main %}
